// Header.scss
.app-header {
  background-color: #4caf50; /* Green background color */
  color: #fff;              /* White text color */
  padding: 15px;
  text-align: center;
}

.app-title {
  margin: 0;
  font-size: 2em; /* Increase the font size for emphasis */
}

